{% extends 'base.html' %}

{% block head %}
<title>Add Expense - ExpenseGraph</title>
{% endblock %}

{% block body %}

<script type="text/javascript">
function addNewCategory() {
	window.open('add_category.html');
}
</script>
<form action="{{ url_for('add_expense') }}" method="POST">
	Date of Purchase: <input type="date" name="date"><br>
	Name: <input type="text" name="name"><br>
	Cost: <input type="number" step="0.01" name="cost"><br>
	<div>Category: <input list="categories" name="category"><br>
	<datalist id="categories">
		{% for category in categories %}
		<option value="{{ category[1] }}" title="{{ category[2] }}"></option>
		{% endfor %}
	</datalist>
	<button type="button" class="btn btn-info btn-sm" data-toggle="modal" data-target="#newCategory">
	Add New Category</button>
	</div>
	Means: <input list="means_list" name="means" required><br>
		<datalist id="means_list">
		<!-- <option><a href="/add_category">Add New Category</a></option> -->
		{% for means_type in means_types %}
		<option value="{{ means_type }}"></option>
		{% endfor %}
	</datalist>
	Buisness: <input type="text" name="buisness" required><br>
	<!-- TODO: autocomplete buisnesses -->
	Comments: <input type="text" name="comments"><br>
  <input type="submit" value="Add Expense">
</form>

<!-- Modal -->
<div class="modal fade" id="newCategory" role="dialog">
<div class="modal-dialog modal-lg">

  <!-- Modal content-->
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal">&times;</button>
      <h4 class="modal-title">Add Category - ExpenseGraph</h4>
    </div>
    <div class="modal-body">
     	<form action="{{ url_for('add_category') }}" method="POST">
			Category Name: <input type="text" name="category" required><br>
			Explanation: <input type="text" name="explanation"><br>
			<input type="submit" value="Add Category">
		</form>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
    </div>
  </div>

</div>
</div>

{% endblock %}