{% extends 'base.html' %}

{% block head %}

{% endblock %}

{% block body %}

<div align="center">
	<h1>Expenses Table</h1>
	{% if not expenses %}
	<h3>There are no expenses yet. <a href="/add_expense">Click here</a> to add</h3>
	{% else %}
	<table>
		<thead>
		    <th>Date of Purchase</th>
		    <th>Name</th>
		    <th>Cost</th>
		    <th>Category</th>
		    <th>Means</th>
		    <th>Buisness</th>
		    <th>Comments</th>
		</thead>
		{% for expense in expenses %}
		<tbody>
		    <td>{{ expense[1] }}</td>
		    <td>{{ expense[2] }}</td>
		    <td>{{ expense[3] }}</td>
		    <td>{{ expense[4] }}</td>
		    <td>{{ expense[5] }}</td>
		    <td>{{ expense[6] }}</td>
		    <td>{{ expense[7] }}</td>
		</tbody>
		{% endfor %}
	</table>
	{% endif %}
</div>


{% endblock %}